<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>registrationsubmit</servlet-name>
        <servlet-class>websiteservlet.registrationsubmit</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>forgetsubmit</servlet-name>
        <servlet-class>websiteservlet.forgetsubmit</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>changesubmit</servlet-name>
        <servlet-class>websiteservlet.changesubmit</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loginsubmit</servlet-name>
        <servlet-class>websiteservlet.loginsubmit</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>contactsubmit</servlet-name>
        <servlet-class>websiteservlet.contactsubmit</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editeprofilesubmit</servlet-name>
        <servlet-class>websiteservlet.editeprofilesubmit</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>registrationsubmit</servlet-name>
        <url-pattern>/registrationsubmit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>forgetsubmit</servlet-name>
        <url-pattern>/forgetsubmit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>changesubmit</servlet-name>
        <url-pattern>/changesubmit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loginsubmit</servlet-name>
        <url-pattern>/loginsubmit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>contactsubmit</servlet-name>
        <url-pattern>/contactsubmit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editeprofilesubmit</servlet-name>
        <url-pattern>/editeprofilesubmit</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
